// React-Datepicker
@import "react-datepicker/dist/react-datepicker.css";
// React-Datetime
@import "react-datetime/css/react-datetime.css";
// React-Toastify
@import "react-toastify/dist/ReactToastify.css";
// React-Phone-Number-Input
@import "react-phone-number-input/style.css";
// React-Daterange-Picker
@import "@wojtekmaj/react-daterange-picker/dist/DateRangePicker.css";
@import "react-calendar/dist/Calendar.css";
// React-Leaflet
// @import "leaflet/dist/leaflet.css";
// RC Time Picker
@import "rc-time-picker/assets/index.css";
// SweetAlert2
@import "sweetalert2/src/sweetalert2.scss";

.color-inherit {
  color: inherit;
}

// .navbar-vertical:not(:has( ~ .navbar)) .d-lg-vertical-flex {
//   display: flex !important;
// }

//! AUTH
// body:has(#auth) {
//   background-image: url("/auth-image.jpg");
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.glow-action {
  &:hover {
    text-decoration: none;
    box-shadow: $box-shadow-card-hover;
  }
}

//! CHECKBOX BORDER
.trans {
  border-color: #fff;
}

//! DROPDOWN
.dropdown-menu.dropdown-menu-grid.show {
  display: grid;
}
